<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista publica</title>
</head>
<body>
    <h1>Lista de Coisas</h1>
    <form action="/add" method="post">
        <input type="text" name="content" placeholder="Escreva algo...">
        <button type="submit">Adicionar</button>
    </form>
    <ul>
        {% for entry in entries %}
            <li>{{ entry[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
