* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(220,220,220);
}
#sidebar {
    position: fixed;
    height: 100%;
    background-color: rgb(240,240,240);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#sidebar a {
    margin-top: 5px;
}

#content {
    margin-left: 224px;
    padding: 10px;
}
